.forgot {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    max-width: 464px;
    width: 100%;

    &MainContent {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h1 {
        font-size: 1.875rem;
        font-weight: bold;
        color: var(--title);
    }

    h6 {
        font-size: 1rem;
    }

    &Button {
        margin-top: 25px;
    }

    &Login {
        display: block;
        margin-top: 27px;
        text-align: center;
    }

    &Email {
        margin-top: 47px;
    }
}