.dropdown {
    position: relative;
    display: flex;
    align-items: center;
    max-width: fit-content;

    &Title {
        text-transform: capitalize;
        font-size: 0.875rem;
        font-family: Roboto;
        font-weight: 500;
        color: var(--titleLight);
        padding: 11px 4px 11px 13px;
    }

    &solid {
        background-color: var(--backgroundLight);
        border-radius: 3px;

        .dropdownListToggle {
            height: 100%;
        }

        .dropdownListWrapper {
            padding-right: 13px;
            border-right: 1px solid #E7E9F0;
            height: 100%;
            display: flex;
            align-items: center;
        }
    }

    &transparent {
        background-color: transparent;
    }

    &List {
        width: 100%;
        max-width: 256px;
        position: absolute;
        top: 110%;
        right: 0;
        z-index: 2;
        background-color: var(--backgroundLight);
        box-shadow: 0px 0px 8px var(--background);
        border-radius: 6px;
        max-height: 137px;
        overflow-y: scroll;

        &Toggle {
            display: flex;
            gap: 8px;
            align-items: center;
            padding-right: 8px;
            text-transform: capitalize;
            color: var(--title);
        }

        li {
            position: relative;
            text-align: start;
            text-transform: capitalize;
            padding: 11px 16px;
            font-size: 0.875rem;
            font-weight: 400;
            color: var(--paragraph);

            &:hover {
                background-color: var(--dropdownHover);
                color: var(--status)
            }

            &.selected {
                color: var(--backgroundLight);
                background-color: var(--status);

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    right: 16px;
                    top: 14px;
                    width: 16px;
                    height: 12px;
                    background-image: url('../../../assets/check.svg');
                    background-repeat: no-repeat;
                }
            }

            &:disabled {
                background-color: var(--backgroundLight);
                color: #E8E8E8;
                cursor: not-allowed;
            }
        }
    }
}