@import '../../style/variables';

.auth {
    flex: 1;
    display: flex;


    &Image {
        width: 100%;
        height: 100%;
        object-fit: cover;

        &Wrapper {
            max-width: 570px;
            flex-shrink: 2;
        }
    }

    &Right {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 20px 20px 40px;
        background-color: var(--backgroundLight);
    }

    &ThemeSwitch {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    @media (max-width:$tablet) {
        &Image {
            display: none;
        }
    }
}