@import '../../style/variables';

.widget{
    background-color: var(--backgroundLight);
    border-radius: 5px;
    padding: 18px 24px 34px;

    &Header{
        font-size: 13px;
        font-weight: 400;
        text-transform: uppercase;
        color: var(--secondaryTextColor);
    }

    &Content{
        display: flex;
        justify-content: center;
        margin-top: 18px;
    }

    @media screen and (max-width: $tablet-xl){
        box-shadow: 0px 0px 14px -6px rgba(0, 0, 0, 0.47);
    }
}