.divider {
    width: 100%;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 18px;

    &Text {
        background: var(--backgroundLight);
        font-size: 0.75rem;
        color: var(--secondaryTextColor);
        white-space: nowrap;
    }

    &Line {
        display: block;
        height: 1px;
        width: 100%;
        background-color: var(--grey);
    }

    &LightGrey {
        .dividerLine {
            background-color: var(--divider);
        }
    }
}