.info {
    h3 {
        margin-bottom: 22px;
        font-size: 21px;
        font-weight: 700;
        color: var(--title);
    }

    p {
        margin-bottom: 19px;
        font-size: 14px;
        font-weight: 400;
        color: var(--paragraph);
    }
}