.login {
    &Button {
        margin-top: 20px;
    }

    &Forgot {
        display: block;
        margin-top: 6px;
    }

    &Password {
        margin-top: 6px;
    }

    &Divider {
        margin-top: 30px;
    }

    &Socials {
        margin-top: 29px;
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    &Low {
        text-align: center;

        &>span {
            color: var(--secondaryTextColor);
            font-size: 1rem;
        }
    }
}